<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CustomStringFunctionsDateTime"
         name="CustomStringFunctionsDateTime"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="br.com.jgimenes.bw.customfunctions.DateTimeUtils"
            id="customdatetimefunctions">
      </customXPathFunctionGroup>
   </extension>

   <extension
         id="CustomStringFunctions"
         name="CustomStringFunctions"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            id="customstringfunctions"
            class="br.com.jgimenes.bw.customfunctions.StringUtils">
      </customXPathFunctionGroup>
   </extension>
   <extension
         id="CustomStringFunctionsStringBr"
         name="CustomStringFunctionsStringBr"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="br.com.jgimenes.bw.customfunctions.StringUtilsBr"
            id="customstringfunctionsbr">
      </customXPathFunctionGroup>
   </extension>

</plugin>
